<%- include ../layouts/header.ejs %> <% if (messages.error) { %>
<p style="color: red"><%- messages.error %></p>
<% } %> <% if (messages.success) { %>
<p style="color: green"><%- messages.success %></p>
<% } %>

<div style="text-align: center">
  <h1>Payment History</h1>
</div>

<!-- table -->
<div class="mx-auto mt-4">
  <table style="text-align: center" class="mx-auto" width="70%" border="1">
    <tr class="table" style="background-color: rgb(77, 177, 77)">
      <th scope="col">ID</th>
      <th scope="col">User ID</th>
      <th scope="col">ATM ID</th>
      <th scope="col">Battery ID</th>
      <th scope="col">Capacity</th>
      <th scope="col">Price</th>
      <th scope="col">Time</th>
    </tr>

    <!--
        Using FOREACH LOOP for the battery array
                
        myArray.forEach(function(el, index) {
          // el - current element, i - index
          });
        -->
    <% if (data) { %> <% data.forEach(function(payment){ %>
    <tr>
      <th scope="row"><%= payment.Id %></th>
      <td><%= payment.userId %></td>
      <td><%= payment.atmId %></td>
      <td><%= payment.batteryId %></td>
      <td><%= payment.capacity %></td>
      <td><%= payment.totalPrice %></td>
      <td><%= payment.time %></td>
    </tr>
    <% }) %> <% } %>
  </table>
</div>

<%- include ../layouts/footer.ejs %>
