<!--
including header content which is common for all pages
-->
<%- include ../layouts/header.ejs %> <% if (messages.error) { %>
<p style="color: red"><%- messages.error %></p>
<% } %> <% if (messages.success) { %>
<p style="color: green"><%- messages.success %></p>
<% } %>

<div style="text-align: center">
  <h1>Users List</h1>
</div>
<div class="mt-3" style="margin-left: 13em">
  <form method="get" action="/user/add">
    <input type="submit" name="add" value="Add New User" />
    <input type="hidden" name="_method" value="Add" />
  </form>
</div>

<div class="mx-auto">
  <table style="text-align: center" class="mx-auto" width="70%" border="1">
    <tr class="table" style="background-color: rgb(77, 177, 77)">
      <th scope="col">User Id</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Phone</th>
      <th scope="col">Email</th>
      <th scope="col">Card Id</th>
      <th scope="col">Balance</th>
      <th scope="col">Action</th>
    </tr>

    <!--
		Using FOREACH LOOP for the user array
		
		myArray.forEach(function(el, index) {
			// el - current element, i - index
		});
	-->
    <% if (data) { %> <% data.forEach(function(user){ %>
    <tr>
      <th scope="col"><%= user.Id %></th>
      <td><%= user.firstName %></td>
      <td><%= user.lastName %></td>
      <td><%= user.phone %></td>
      <td><%= user.email %></td>
      <th scope="col"><%= user.cardId%></th>
      <td><%= user.balance %></td>
      <td>
        <div>
          <form
            method="get"
            action="/user/edit/<%= user.Id %>"
            style="float: left"
          >
            <input type="submit" name="edit" value="Edit" />
            <input type="hidden" name="_method" value="Edit" />
          </form>
        </div>
        <div>
          <form
            method="post"
            action="/user/delete/<%= user.Id %>"
            style="float: left"
          >
            <input
              type="submit"
              name="delete"
              value="Delete"
              onClick="return confirm('Are you sure you want to delete?')"
            />
            <input type="hidden" name="_method" value="DELETE" />
          </form>
        </div>
      </td>
    </tr>
    <% }) %> <% } %>
  </table>
</div>
<!--
including footer content which is common for all pages
-->
<%- include ../layouts/footer.ejs %>
